[Unit]
Description=Run indexer every 15 minutes

[Timer]
OnCalendar=*:0/15
Persistent=true
AccuracySec=1m
Unit=indexer.service

[Install]
WantedBy=timers.target
