[Unit]
Description=Indexer API Socket
PartOf=indexer.target

[Socket]
ListenStream=/var/run/indexer.sock
SocketMode=0660
SocketUser=root
SocketGroup=root

[Install]
WantedBy=sockets.target
