[Unit]
Description=Indexer API Socket

[Socket]
ListenStream=/var/run/indexer.sock
SocketMode=0660
SocketUser=root
SocketGroup=root

[Install]
WantedBy=sockets.target
