[Unit]
Description=Indexer API Socket
PartOf=indexer.target

[Socket]
ListenStream=/var/run/indexer.sock
SocketMode=0666

[Install]
WantedBy=sockets.target
