[Unit]
Description=LinuxIO filesystem indexer
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/miguelmariz/indexer
ExecStartPre=/usr/bin/mkdir -p /var/lib/linuxIO
ExecStart=/home/miguelmariz/indexer/bin/indexer -path / -include-hidden -db-path /var/lib/linuxIO/indexer.db -resume
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
