[Unit]
Description=Run LinuxIO indexer every 15 minutes

[Timer]
OnCalendar=*:0/15
Persistent=true
AccuracySec=1m
Unit=linuxio-indexer.service

[Install]
WantedBy=timers.target
